/* @group Twenty Ten Kai Font */
/* by sparanoid.com */

#site-title {
	font-size: 16px;
	line-height: 16px;
}

#site-title {
	margin-bottom: 15px;
}

#header {
	padding-top: 15px;
}

#site-description {
	margin: 0;
}

/* @end */
