/* !Twenty Ten Kai Asian (Sans Serif) */
/* !by sparanoid.com */

h1, h2, h3, h4, h5 {
	font-family: Helvetica, Arial, STHeiti, 'Microsoft YaHei', sans-serif !important;
}

body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: Helvetica, Arial, STHeiti, 'Microsoft YaHei', sans-serif;
}

#content {
	font-size: 14px;
}

#site-description,
#site-generator {
	font-family: Georgia, serif;
}

.page-title span,
#comments-title em {
	font-style: normal;
}
