/* Global font-family reset */
body,
input,
textarea,
#site-title,
.page-title span,
.pingback a.url {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

/* Adjust font size in main content */
#content {
	font-size: 14px;
}

/* These should be serif */
#site-description,
#site-generator {
	font-family: Georgia, serif;
}

/* Italic style not good for Asian, right? */
.page-title span,
.comment-author .says,
#comments-title em,
#comments .pingback .url {
	font-style: normal;
}