/* !Twenty Ten Kai */
/* !by sparanoid.com */

#wrapper {
	margin-bottom: 50px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px;
	   -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px;
	        box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

#access, #footer, #branding img {
	margin: 0 0 0 -20px;
	width: 980px;
}

#access .menu-header, div.menu {
	margin-left: 32px;
}

#colophon {
	width: 980px;
}

#footer-widget-area {
	margin-left: 40px;
}

#footer-widget-area .widget-area {
	width: 210px;
}

#site-info {
	margin-left: 40px;
	width: 700px;
}

#site-title {
	margin: 0px 0px 18px 20px;
	width: 680px;
}

#header {
	padding-top: 20px;
}

#site-description {
	margin-top: 10px;
}

#main {
	overflow: visible;
}

.home .sticky {
	margin-left: -40px;
	padding: 18px 20px 18px 40px;
}

#content img,
video {
	max-width: 640px;
}

a:link {
	text-decoration: none;
}

.widget-area a:visited,
.entry-content a:visited {
	color: rgba(153, 102, 51, 1);
}

a:hover {
	text-decoration: underline;
}

.menu a:link {
	-webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	   -moz-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	     -o-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	        transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}
