/* !Twenty Ten Kai Narrow */
/* !by sparanoid.com */

#access .menu-header,
div.menu,
#colophon,
#branding,
#main,
#wrapper {
	width: 800px;
}

#access, #footer, #branding img, #colophon {
	width: 840px;
}

#site-info {
	width: 520px;
}

#site-title {
	width: 520px;
}

#content .attachment img,
.single-attachment #content,
#content img,
video {
	max-width: 500px;
}

#footer-widget-area .widget-area {
	width: 175px;
}
