/* Global width reset */
#access .menu-header,
div.menu,
#colophon,
#branding,
#main,
#wrapper {
	width: 800px;
}

/* Make sure these elements have the correct width too */
#access, #footer, #branding img, #colophon {
	width: 840px;
}

/* Smaller width make sure site title in header / footer displays correctly */
#site-title,
#site-info {
	width: 520px;
}

/* Adjust maximum width of images in single attachment page */
/* The vaule: 900 - 100 - 20*2 */
.single-attachment #content,
#content .attachment img{
	max-width: 760px;
}

/* Width of widgets in footer have to be re-defined */
#footer-widget-area .widget-area {
	width: 175px;
}

/* Better border width when a gallery comes in 3 cols */
.gallery img {
	border-width: 5px;
}